# List, Tuple, Set and Dictionary

## 1) List In Python:

### List is used to store multiple items in a single variable
### List are created in a square bracket [ ]
### List items are ordered, changeable and allow duplicate values

In [10]:
# Example
numbers = [1,2,3,4,5,6,7,8,9]
names = ['James', 'Angela', 'Ezinne', 'Abimbola', 'Emmanuel']
print(numbers)
print(names)
print(type(numbers))
print(type(names))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['James', 'Angela', 'Ezinne', 'Abimbola', 'Emmanuel']
<class 'list'>
<class 'list'>

### List allows for a variety of keywords that are capable of making changes to the list. They include; Append, Extend, Insert, Pop, Index, Remove, Clear, Count and Reverse

## i) Append:
### We use .append('text') to add a text to the back of the items in the variable

In [17]:
# Example
name_of_fruits = ['apple', 'orange', 'pineapple']
print(name_of_fruits)

['apple', 'orange', 'pineapple']

In [18]:
# Now let's add banana to the list
name_of_fruits.append('banana')
print(name_of_fruits)

['apple', 'orange', 'pineapple', 'banana']

## ii) Extend:
### .extend('text', 'text', 'text') is used to add multiple elements in a list

In [10]:
name_of_fruits = ['apple', 'orange', 'pineapple']
print(name_of_fruits)

# We'll add banana, water lemon and grape to this list
name_of_fruits.extend(['banana', 'water lemon', 'grape'])
print(name_of_fruits)

['apple', 'orange', 'pineapple']
['apple', 'orange', 'pineapple', 'banana', 'water lemon', 'grape']

## iii) Index:
### This is used to find out the index number of an element in a list.
### This is most useful if you have large number of items in a list

In [15]:
# Example
fruits = ['apple', 'orange', 'water lemon', 'grape', 'pineapple']

# lets find out the index number of orange
fruits.index('orange')

1

## iv) Pop:
### Pop is used to remove the last element in a list.
### It can also remove any element in the list by specifying the index number

In [13]:
# Example
numbers = [1,2,3,4,5]
numbers.pop()
print(numbers)

[1, 2, 3, 4]

In [14]:
#let's remove the number 3 from the list using pop by using its index number
numbers = [1,2,3,4,5]
numbers.pop(2)
print(numbers)

[1, 2, 4, 5]

## v) Insert:
### This used to insert an element into any place in the item list using its index number

In [11]:
# Example
numbers = [1,2,3,4,5,6,8,9,10]

# the number 7 is missing in this list, to insert it, we'll count the placement of the missing value using its index number
# the index number of the missing value is 6

# knowing this, we insert our missing value
numbers.insert(6,7)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## vi) Remove:
### This is used to remove a particular element in a list

In [16]:
# Example
fruits = ['apple', 'orange', 'water lemon', 'grape', 'pineapple']

# lets remove water lemon from this list
fruits.remove('water lemon')
print(fruits)

['apple', 'orange', 'grape', 'pineapple']

## vii) Clear:
### This is used to clear all elements in a list

In [17]:
# Example
fruits = ['apple', 'orange', 'water lemon', 'grape', 'pineapple']

# lets clear all items in this list
fruits.clear()
print(fruits)

[]

## viii) Count:
### This is used to count how many times an element appears in a list

In [19]:
# Example
fruits = ['apple', 'orange', 'grape', 'water lemon', 'grape', 'pineapple', 'grape']

# we'll count how many times grape appeared in this list
fruits.count('grape')

3

## ix) Reverse:
### This is used to reverse the elements in a list and display them in backward format

In [21]:
# Example
fruits = ['apple', 'orange', 'water lemon', 'grape', 'pineapple']

fruits.reverse()
print(fruits)

['pineapple', 'grape', 'water lemon', 'orange', 'apple']

## 2) Tuple in python:
### Things enclosed in a normal paranthesis ( ) are called tuple
### Elements in a tuple can't be changed unlike those in a list
### In tuple, only .count('text') and index works

In [22]:
# Example
my_tuple = ('vehicle', 20, 'sports', 'green')
print(my_tuple)

('vehicle', 20, 'sports', 'green')

## 3) Set In Python:

### Anything in { } is considered a set
### Set also eliminates duplicates

In [13]:
numbers = {1,2,3,4,5,6,7,8,9}
print(numbers)
print(type(numbers))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [15]:
# Set can also eliminates duplicates

numbers = {1,2,2,3,4,5,5,6,6,7,8,8,8,9}
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## 4) Dictionary in python:
### Dictionary are enclosed in { } just like set
### In dictionary, there exists what we call key-value pairs, where you can assign pairs to a value

In [7]:
# Example
person = {'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Tutor'}

# Here we have Name as the key and Kingsley as the value assigned with the key

In [8]:
person.keys()

dict_keys(['Name', 'Occupation', 'Position'])

In [9]:
person.values()

dict_values(['Kingsley', 'Data Analyst', 'Tutor'])

In [10]:
# You can also change the element in a dictionary
person = {'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Tutor'}
person['Position'] = 'Student'

print(person)

{'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Student'}

## Update in dictionary
### This is used to add another set of specific keys and values to a set

In [11]:
# Example
person = {'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Tutor'}
person.update({'Hobby': 'Eating and Playing'})

In [12]:
print(person)

{'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Tutor', 'Hobby': 'Eating and Playing'}

## Setdefault in dictionary
### This, like update can be used to insert a specific key and value to a set

In [15]:
# Example
person = {'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Tutor', 'Hobby': 'Eating and Playing'}

a = person.setdefault('Profession', 'Data Scientist')
print(a)
print(person)

Data Scientist
{'Name': 'Kingsley', 'Occupation': 'Data Analyst', 'Position': 'Tutor', 'Hobby': 'Eating and Playing', 'Profession': 'Data Scientist'}